<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My favourite restaurant</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-center">
      <a class="navbar-brand" href="/">Restaurant List</a>
      <div>
        <form action="/restaurants" method="GET">
          <button class="create-btn" type="submit">加入餐廳</button>
        </form>
      </div>
    </div>
  </nav>
</head>

<body>


  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <script src="/javascripts/jquery-3.5.0.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>